node_modules
npm-debug.log
yarn-error.log
.angular
dist
tmp
out-tsc
bazel-out
.idea
.vscode
.history
.c9
*.launch
.settings
*.sublime-workspace
.DS_Store
Thumbs.db
.env
.venv
venv
__pycache__
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.bak
*.tmp
*.pid
staticfiles
media
coverage
htmlcov
*.cover
*.coverage
*.egg-info
testem.log
libpeerconnection.log
README.md
*.md
.git
.gitignore

