apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
spec:
  replicas: 2
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
        - name: backend
          image: vininobre/backend:latest # <- troque pelo ECR
          command: ["gunicorn"]
          args: ["foodflow.wsgi:application", "--bind", "0.0.0.0:8000", "--workers", "3"]
          ports:
            - containerPort: 8000
          env:
            - name: DATABASE_URL
              value: "postgres://postgres:11022006@postgres:5432/foodflow"

            - name: DEBUG
              value: "False"

            - name: SECRET_KEY
              value: "problemasproblematicosorubertoresolveporqueeleeoreidoprompt@@!!"

            - name: ALLOWED_HOSTS
              value: "*,localhost,127.0.0.1"

            - name: CORS_ALLOWED_ORIGINS
              value: "http://54.94.65.113,http://localhost:8080"